<style>
    input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

h1{
    text-align: center;
}
button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
}
th{
    background-color: darkgray;
}
tr{
    background-color: lightgray;
}

</style>

    <h1><strong>STAR WARS DATABASE HOMEPAGE</strong></h1>
    
    <table class="table table-striped" style="width: 60rem; margin:auto; margin-top: 2rem; margin-bottom: 2rem;">
        <thead>
        <tr>
            <th>Link To Page</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href='/characters'>
                <img src="/images/chewey.webp" style="width:192px;height:96px;">
                </a>
            </td>
            <td>Characters</td>
            <td>Browse/Add/Edit Characters</td>
        </tr>
        <tr>
            <td>
                <a href='/films'>
                <img src="/images/movie.jpg" style="width:192px;height:283px;">
                </a>
            </td>
            <td>Films</td>
            <td>Browse Existing Star Wars Movies</td>
        </tr>
        <tr>
            <td>
                <a href="./homeworlds.html">
                    <img src="/images/Tatooine.jpg" style="width:192px;height:192;">
                </a>
            </td>
            <td>Homeworlds</td>
            <td>Browse Homeworlds of Star Wars Characters</td>
        </tr>
        <tr>
            <td>
                <a href="./ships.html">
                    <img src="/images/millennium_falcon.jpg" style="width:192px;height:145px;">
                </a>
            </td>
            <td>Ships</td>
            <td>Browse Star Wars ships piloted by different characters</td>
        </tr>
    </tbody>
    </table>