<h1>Specific Star Wars Search</h1>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<button onclick="myFunction()">Character</button>

<div style="display: none;" id="myDIV">
    <table>
        <thead>
            <th>Select By Attribute</th>
            <th>Search Field</th>
        </thead>
        <tbody>
            <tr>
                <td>Character Name</td>
                <td><input type="text" placeholder="Search" name="Char_Name" id="att1"></td>
            </tr>
             <tr>
                <td>Birth Date</td>
                <td><input type="text" placeholder="Search" name="birth_date" id="att3"></td>
            </tr>
             <tr>
                <td>Gender</td>
                <td><input type="text" placeholder="Search" name="gender" id="att4"></td>
            </tr>
             <tr>
                <td>Species</td>
                <td><input type="text" placeholder="Search" name="species" id="att5"></td>
            </tr>
             <tr>
                <td>Height</td>
                <td><input type="text" placeholder="Search" name="height" id="att6"></td>
            </tr>
        </tbody>
    </table>
    </form>
</div>
<table>
    
</table>
<br><br>

<script>
    function getValues(){
        var firstName = document.getElementById("att1").value;
        var lastName = document.getElementById("att2").value;
        var birthDate = document.getElementById("att3").value;
        var gender = document.getElementById("att4").value;
        var species = document.getElementById("att5").value;
        var height = document.getElementById("att6").value;

        var query = "/results/" + firstName;
        alert(query);
        window.location = query;
    }
</script>
